.card h4, .card p, .card h5 { margin: 10px; }
.card h5, .card h6 { margin: 10px; }
.card { position: relative; }
.card button {
    position: absolute;
    top: 60%; left: 35%;
    opacity: 0; visibility: hidden;
    transition: all 0.75s;
}
.card:hover > button {
    top: 40%;
    opacity: 1; visibility: visible;
}

.bestseller-container {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.bestseller-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 80%;
}

.bestseller-card {
    width: 28%;
    margin: 1.5%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.bestseller-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.bestseller-card-content {
    padding: 15px;
}

.bestseller-card-content h3 {
    text-align: left;
    margin: 5px 0;
    font-size: 1em;
    font-weight: normal;
    color: #333;
}

.bestseller-card-content p {
    text-align: left;
    margin: 5px 0;
    font-size: 1em;
    color: #b85c38;
    font-weight: bold;
}

.bestseller-button {
    background-color: #d3b8ae;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    position: relative !important;
    left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
    transition: background-color 0.75s;
    float: left;
}

.bestseller-button:hover {
    background-color: #b89c8b;
}

.home-page h2 {
    padding: 0 10px 10px 10px;
    color: #222222;
    position: relative;
    display: block;
    line-height: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .bestseller-card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .bestseller-card {
        width: 100%;
        margin: 10px 0;
    }

    .bestseller-card img {
        height: 200px;
    }
}