.card h4, .card p, .card h5 { margin: 10px; }
.card h5, .card h6 { margin: 10px; }
.card { position: relative; }
.card button {
    position: absolute;
    top: 60%; left: 35%;
    opacity: 0; visibility: hidden;
    transition: all 0.75s;
}
.card:hover > button {
    top: 40%;
    opacity: 1; visibility: visible;
}

.bestseller-container {
    text-align: center;
    margin: auto;
    padding-top: 5%;
}

.bestseller-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
    max-width: 80%;
}

.bestseller-card {
    width: 30%;
    margin: 1%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.bestseller-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.bestseller-card-content {
    padding: 10px;
}

.bestseller-card-content h3 {
    margin: 10px 0;
}

.bestseller-button {
    background-color: #e87e0e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 10px 0;
    cursor: pointer;
}

.bestseller-button:hover {
    background-color: #f35404;
}