.footer {
    width: 100vw;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 50px;
    text-align: center;
}

.footer a {
    display: block;
    text-decoration: none;
    color: white;
}

.footer__logo {
    margin-top: 30px;
    width: 300px;
}

.footer__address {
    margin-top: 35px;
}

.footer__support {
    margin-top: 35px;
    margin-right: 10px;
}